# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\实验报告\web程序设计\myJPetStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
